@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&family=Sigmar&display=swap');

h1{
    text-align: center;
    color: white;
    font-family: 'Sigmar', cursive;
    margin-top: 40px;
    margin-bottom: 80px;
}
body{
 /* background-color: rgb(10, 10, 40);  */
 background-color: black;
}
 .primer_grupo{
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 60px;
} 

.input-group{
    justify-content: center;
}

.input-nombre{
    width: 15%;
    margin-right: 5%;
    border: none;
}
.input-apellido{
    width: 15%;
    margin-right: 5%;
    border: none;
}
label{
    margin-right: 2%;
    font-family: 'Sigmar';
    font-size: 14px;
    color: white;
    font-weight: lighter ;
}
.checkbox{
    margin-right: 2%;
}
.botones{
    margin-top: 40px;
    margin-left: 80%;
    margin-bottom: 60px;
}
.listas{
    display: flex;
    justify-content: space-around;
}
.total li{
    color: white;
    list-style-type: none;
}
.nombres{
    color: white;
    list-style-type: none;
}
.nombresApellidos{
    display: flex;
}
.listaCheck{
    display: grid;
    color: white;
}
