@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&family=Sigmar&display=swap');

h1{
    text-align: center;
    color: white;
    font-family: 'Sigmar', cursive;
    text-shadow: 2px 2px black;
    margin-top: 40px;
    margin-bottom: 80px;
}
body{
    background-image: url(./imagenes/Cloudy.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
 .primer_grupo{
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 60px;
} 

.input-group{
    justify-content: center;
}

.input-nombre{
    width: 15%;
    margin-right: 5%;
    border: none;
}
.input-apellido{
    width: 15%;
    margin-right: 5%;
    border: none;
}
label{
    margin-right: 2%;
    font-family: 'Sigmar';
    font-size: 14px;
    color: black;
    font-weight: lighter ;
}
.checkbox{
    margin-right: 2%;
}
.botones{
    margin-top: 40px;
    margin-left: 80%;
    margin-bottom: 60px;
}
.listas{
    display: flex;
    justify-content: space-around;
}
.total li{
    color: black;
    list-style-type: none;
}
.nombres{
    color: black;
    list-style-type: none;
}
#nombre li div{
    display: flex;
    justify-content: space-between;
}
.nombresApellidos{
    display: flex;
}
.listaCheck{
    display: grid;
    color: black;
}
.checks{
    margin-left: 20px;
}
.cantidades{
    color: black;
    margin-left: 20px;
}
.btn-danger{
    margin-right: 10px;
}
